@model IEnumerable<Infrastructure.Entities.Hotel>
@{
    ViewData["Title"] = "HotelDetails";
}

<h2>HotelDetails</h2>

<!DOCTYPE html>

<html>
<head>
    <title>Готелі</title>
</head>
<body>
    <h3>Список готелів</h3>
    <table>
        <tr>
            <td>Назва</td>
            <td>Країна</td>
            <td>Сезон</td>
            <td></td>
        </tr>
        @foreach (var hotel in Model)
        {
            <tr>
                <td>@hotel.Name</td>
                <td>@hotel.Location</td>
                <td>@hotel.Season</td>
                <td><a href="~/HotelDetails/Details/@hotel.Id">Детали</a></td>
            </tr>
        }
    </table>
</body>
</html>