p {
    margin: 0;
    padding: 0;
}

#content {
    color: white;
    font-family: 'Poppins', serif;
}

.profile-info_wrap {
    height: 408px;
    width: 455px;
    padding: 30px;
    background: linear-gradient(45deg, #ff0f52, #ff4d35);
    border-radius: 8px;
    position: relative;
}

    .profile-info_wrap .profile-name {
        height: 36px;
        color: #ffffff;
        font-size: 44px;
        font-weight: 700;
        text-align: center;
        line-height: 30px;
        margin-bottom: 52px;
        line-height: .8;
    }

.real-address, .mail-address {
    height: 34px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 300 important!;
    padding: 20px 0px;
}

.profile-role_wrap {
    position: absolute;
    bottom: 0;
}

.profile-role_block {
    width: 270px;
    height: 90px;
    background: linear-gradient(45deg, #ff4d35,#ff0f52);
    border-radius: 12px;
    box-shadow: -5px 9px 3.95px 1.05px rgba(0, 0, 0, 0.18);
    margin-bottom: 51px;
    display: flex;
    padding-left: 29px;
    float: left;
    align-items: center;
}

    .profile-role_block span {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 30px;
    }

.profile-info_wrap .profile-img {
    position: absolute;
    left: 250px;
    bottom: 25px;
}

.profile-img img {
    width: 270px;
    height: 270px;
    box-shadow: -5px 9px 3.95px 1.05px rgba(0, 0, 0, 0.18);
    border-radius: 50%;
}
