<body>
<section id="content">
        <div class="d-flex justify-content-around align-items-start">
            <div class="profile-info_wrap">
                <div class="profile-info d-flex flex-column">
                    <div class="profile-name">
                        <b>@Model.FirstName @Model.LastName</b>
                    </div>
                    <div class="profile-address">
                        <div class="address_wrap">
                            <div class="mail-address">@Model.Email</div>
                            <div class="real-address">Washington, <b>USA</b></div>
                        </div>
                    </div>
                    <div class="profile-role_wrap">
                        <div class="profile-role_block">
                            <span>customer</span>
                        </div>
                    </div>
                </div>
                <div class="profile-img">
                    <img src="https://i.imgur.com/f2kiwyi.png" alt="profile-img">
                </div>
            </div>
            <div class="orders-list d-flex flex-column col-xl-6">
                <div class="order d-flex justify-content-start align-items-center">
                    <div class="order-photo">
                        <img src="https://pix10.agoda.net/hotelImages/96605/-1/dd32d9b188d86d6d8dc40d1ff9a0ebf6.jpg?s=1024x768"
                            alt="order photo">
                    </div>
                    <div class="order-info d-flex justify-content-around align-items-center active-order">
                        <div class="hotel-title">
                            <span>Order Title</span>
                        </div>
                        <div class="order-date">
                            <div class="top-date">10.10.2019</div>
                            -
                            <div class="bootom-date">12.10.2019</div>
                        </div>
                        <div class="order-price">
                            <span>700$</span>
                        </div>
                    </div>
                </div>
                <div class="order d-flex justify-content-start align-items-center ">
                    <div class="order-photo">
                        <img src="https://pix10.agoda.net/hotelImages/96605/-1/dd32d9b188d86d6d8dc40d1ff9a0ebf6.jpg?s=1024x768"
                            alt="order photo">
                    </div>
                    <div class="order-info active-order d-flex justify-content-around align-items-center">
                        <div class="hotel-title">
                            <span>Order Title</span>
                        </div>
                        <div class="order-date">
                            <div class="top-date">10.10.2019</div>
                            -
                            <div class="bootom-date">12.10.2019</div>
                        </div>
                        <div class="order-price">
                            <span>700$</span>
                        </div>
                    </div>
                </div>
                <div class="order d-flex justify-content-start align-items-center">
                    <div class="order-photo">
                        <img src="https://pix10.agoda.net/hotelImages/96605/-1/dd32d9b188d86d6d8dc40d1ff9a0ebf6.jpg?s=1024x768"
                            alt="order photo">
                    </div>
                    <div class="order-info d-flex justify-content-around align-items-center">
                        <div class="hotel-title">
                            <span>Order Title</span>
                        </div>
                        <div class="order-date">
                            <div class="top-date">10.10.2019</div>
                            -
                            <div class="bootom-date">12.10.2019</div>
                        </div>
                        <div class="order-price">
                            <span>700$</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>