@model HotelsBooking.Models.ProfileViewModel

<h1>Profile</h1>

<table class="table table-hover">
    <tbody>
    <tr>
        <td>
            @Model.FirstName
        </td>
        <td>
            @Model.LastName
        </td>
    </tr>
    </tbody>
</table>