@model HotelsBooking.Models.AppProfile.ProfileUpdateViewModel

@{
    ViewData["Title"] = "UpdateProfile";
}

<h2>UpdateProfile of @Model.FirstName @Model.LastName</h2>

<section id="content">
    <div class="d-flex justify-content-around align-items-start">
        <form asp-action="UpdateProfile" method="post" id="UpdateProfile">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
            </div> 
            <br/>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <button type="submit" id="submitProfileUpdateButton" class="btn btn-dark">Update</button>
        </form>
    </div>
</section>


