@model HotelsBooking.Models.AppProfile.AllProfilesViewModel


<body>

    <section id="content">
        <div class="@*d-flex*@ justify-content-around align-items-start">

            <div class="review_list">

                @foreach (var profile in Model.profilesList)
                {
                    <a asp-controller="Profile" asp-action="Detail" asp-route-id="@profile.ProfileId">
                        <div class="review_item">
                            <div class="media">
                                <div class="d-flex">
                                    <img src="img/product/single-product/review-3.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>@profile.FirstName @profile.LastName</h4>
                                </div>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo
                            </p>
                        </div>
                    </a>
                    
                }
            </div>
        </div>
    </section>
</body>