@model HotelsBooking.Models.CreateOrEditOrderViewModel;
@{
    ViewData["Title"] = "Add new order";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<body>
    <div class="row">

        <div class="col-lg-8 col-lg-offset-2 cl-md-6 cl-md-offset-3">
            <h2>Enter name and surname</h2>

            <form asp-action="CreateOrder" asp-controller="Admin" method="post">

                <div asp-validation-summary="All" class="text-danger text-center" style="margin-top:10px;"></div>

                <div class="form-group">
                    <label class="control-label"asp-for="FirstName"></label>
                    <input type="text" asp-for="FirstName" required class="form-control" placeholder="Enter firstname"/>
                </div>

                <div class="form-group">
                    <label class="control-label" asp-for="LastName"></label>
                    <input type="text" asp-for="LastName" required class="form-control" placeholder="Enter lastname"/>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Save" class="btn btn-success text-center" style="width:20%" />
                </div>
            </form>
        </div>
    </div>
</body> 