@model HotelsBooking.Models.CreateOrEditOrderViewModel;
@{
    ViewData["Title"] = "Edit Order";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<body>
    <div class="row">

        <div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3 col-sm-12">
            <div class="text-center">
                <label style="font-size:20px">Edit order</label>
            </div>
            <form asp-action="EditOrder" asp-controller="Admin" method="post">
                <div asp-validation-summary="All" class="text-danger text-center" style="margin-top:10px;"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                </div>
                <div class="form-group">
                    <label class="control-label">First Name:</label>
                    <input type="text" asp-for="FirstName" class="form-control" value="@Model.FirstName" required placeholder="Enter firstname"/>
                </div>

                <div class="form-group">
                    <label class="control-label">Last Name:</label>
                    <input type="text" asp-for="LastName" class="form-control" value="@Model.LastName" required placeholder="Enter lastname"/>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Save" class="btn btn-success text-center" style="width:20%" />
                </div>
            </form>
        </div>
    </div>
</body> 