@model HotelsBooking.Models.AdminRoomsViewModel;
@{
    ViewData["Title"] = "Edit room";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<body>
    <div class="row">

        <div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3 col-sm-12">
            <h3 class="text-center">Edit room</h3>
            <form asp-action="EditRoom" asp-controller="Admin" method="post" class="center">
                <div asp-validation-summary="All" class="text-danger center" style="margin-top:10px;"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                </div>
                <table class="text-center">
                    <tr>
                        <td>
                            <div class="form-group">
                                <label class="control-label">Room type:</label><br />
                                <select asp-for="RoomType" required asp-items="@new SelectList(Enum.GetNames(typeof(Infrastructure.Enums.RoomType)))"></select><br />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group text-center">
                                <br />
                                <input type="submit" value="Save" class="btn btn-success" />
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body> 