    <!-- Sidebar -->
<div id="sidebar">
    <header>
        <a asp-controller="Admin" asp-action="Users">Admin panel</a>
    </header>
    <ul class="nav">
        <li>
            <a asp-controller="Admin" asp-action="Users">
                <i class="zmdi zmdi-link"></i> Manage Users
            </a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Hotels">
                <i class="zmdi zmdi-link"></i> Manage Hotels
            </a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Orders">
                <i class="zmdi zmdi-link"></i> Manage Orders
            </a>
        </li>

    </ul>
</div>
