<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelsBooking</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="~/css/nice-select.css" asp-append-version="true">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/all.css" asp-append-version="true">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/themify-icons.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/lightslider.min.css" asp-append-version="true">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css" asp-append-version="true">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/css/slick.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/price_rangs.css" asp-append-version="true">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link href="~/css/rating.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
    </div>
    <!-- jquery plugins here-->
    <script src="~/js/jquery-1.12.1.min.js" asp-append-version="true"></script>
    <!-- popper js -->
    <script src="~/js/popper.min.js" asp-append-version="true"></script>

    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>

    <script src="~/js/jquery.magnific-popup.js" type="text/javascript" asp-append-version="true"></script>

    <script src="~/js/swiper.min.js" asp-append-version="true"></script>

    <script src="~/js/masonry.pkgd.js" asp-append-version="true"></script>
    <script src="~/js/masonry.pkgd.min.js" asp-append-version="true"></script>

    <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.nice-select.min.js" asp-append-version="true" type="text/javascript"></script>

    <script src="~/js/slick.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.counterup.min.js" asp-append-version="true"></script>
    <script src="~/js/waypoints.min.js" asp-append-version="true"></script>
    <script src="~/js/contact.js" asp-append-version="true"></script>
    <script src="~/js/jquery.ajaxchimp.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.form.js" asp-append-version="true"></script>
    <script src="~/js/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/js/mail-script.js" asp-append-version="true"></script>
    <script src="~/js/stellar.js" asp-append-version="true"></script>
    <script src="~/js/price_rangs.js" asp-append-version="true"></script>
    <script src="~/js/lightslider.min.js" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
