<section class="sample-text-area">
    <div class="container box_1170">
        <h3 class="text-heading">Congratulations! Your account has been created.</h3>
        <p class="sample-text">
            Please check your email to complete the registration .
        </p>
    </div>
</section>