<section class="sample-text-area">
    <div class="container box_1170">
        <h3 class="text-heading">Reset Password Confirmation</h3>
        <p class="sample-text">
            Your password has been changed successfully! Click here <a asp-action="Login" asp-controller="Account">to login</a>>
        </p>
    </div>
</section>