@using HotelsBooking.Models
@model ResetPasswordViewModel

    <div class="container box_1170 border-top-generic">
        <div class="section padding_top justify-content-center">
            <div class="row ">
                <div class="col-md-5 ">
                    <form method="post" class="form-horizontal">
                        <h2 class="text-center">Password reset</h2>                     
                        <hr />
                        <div class="col-md-12 form-group p_star">
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input asp-for="Email" type="email" class="form-control" id="email" name="email" value=""
                                   placeholder="Email">
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input asp-for="Password" class="form-control" value=""
                                   placeholder="Password">
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input asp-for="ConfirmPassword" class="form-control" value=""
                                   placeholder="Confirm password">
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <button type="submit" value="submit" class="btn_3">
                                Send
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>